
/* Los estilos de tu proyecto */


/*GRID SISTEM*/

/*FIN GRID SISTEM*/



/*VERSION MOBILE*/

h1, h2, h3 , h4{
  margin: 0;
}

.section-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  box-sizing: border-box;
}

/*modal*/

.profile .image-profile{
  margin-left: 35%;
  margin-top: 10px;
  margin-bottom: 15px;
}

.image-profile {
  background-image: url(../assets/images/profile.png);
  background-size: cover;
  width: 200px;
  height: 200px;
}

.signIn{
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 7px;
  text-align: center;
  width: 300px;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 20px 25px;
}

.input-group input{
  max-width: 100%;
}

.input-group{
  margin-top: 30px;
}

.red-text{
  color: red;
}

.login{
  margin-top: 20px;
}

.bgColor-green-light{
  background-color: #08ac9d;
}

/*modal2*/
.bgcolor-grey{
  background-color: #a9a9a9;
}

.registrer-modal{
  padding: 10px 15px;
  text-align: center;
}

.registrer-modal p{
  font-size: 20px;
}

.registrer-modal button, .registrer-modal p, .registrer-modal input {
  margin-top: 15px;
}

button.bg-color-black{
  width: 100%;
  color: white;
  padding: 10px;
}

input.name, input.surname{
  width: 46%;
  padding: 5px;
}

input.surname{
  margin-left: 4%;
}

.bgcolor-grey-light{
  background-color: #dddddd;
  width: 100%;
  padding: 10px 5px;
}

.bg-color-cyan{
  background-color: #5bc0de;
  width: 100%;
  padding: 7px;
  color: white;
  font-size: 20px;
}

/*modal 3*/

.formCar{
  padding: 20px 35px;
}

.select-modal3, .input-modal3, .btn-modal3{
  margin-top: 15px;
}


/*header*/

button.btn-left {
  float: left;
  margin-left: 20px;
}

a.header-brand-rigth {
  float: right;
  margin-right: 20px;
}

.nav-padding{
  padding: 15px 25px;
}

.nav-margin{
  margin: 0px;
}

.nav-border{
  border: none;
  border-radius: 0px;
}

.bg-header-color {
  background-color: #fff;
  border: none;

}

button.btn-border {
  border: none;
}

/*section 1*/

.image-taxi {
  background-image: url(../assets/images/taxi.jpg);
  height: 500px;
}

.bg-color-orange{
  background-color: #f7b617;
  padding-bottom: 26px;
  padding-top: 26px;
}

/* cuadro de Registro Naranja Movile*/
@media (max-width: 600px) {
.register-desktop .contenidoDesktop {
  display: none;
}
}


.register {
  width: 299px;
  background-color: #ffc107;
  float: right;
  padding: 20px 28px;
  margin-top: 120px;
}

h1 {
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 29px;
  font-family: 'Raleway', sans-serif;
}

h3 {
  color: white;
  text-align: left;
  font-size: 19px;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
}

.M-whitelogo {
  margin-left: 8px;
  width: 70px;
  height: 17px;
}
/*fin del cuadro de registro*/

/*section 2*/

/*Clases reutilizables*/

.mobile {
  display: block;
  padding: 25px;
}

.desktop {
  display: none;

}

/*fin Clases reutilizables*/

.m-content h3{
  margin: 25px;
  font-weight: bold;
}

.m-content {
  border: 1px solid white;
  padding: 15px;
}

.image-phone {
  height: 250px;
  display: inline-block;
}
/*section 3*/
.image-conduce {
  background-image: url(../assets/images/conduceopacity.jpg);
  height: 400px;
}

.info {
  margin-top: 90px;
}

.info h3 {
  margin-bottom: 15px;
}

.info button {
  background-color: #f7b617;
  color: #fff;
  border: none;
}

/*section 4*/
.bgcolor-orange {
  background-color: #f7b617;
}


.ContenidoTarifas {
  box-sizing: border-box;
  padding: 50px 50px;
  width: 100%;
  height: auto;
}

.inline-block {
  display: inline-block;
}

.bder-white {
  border: 1px solid white;
  color: white;
}

/* para Chrome */

input.colorWhite::-webkit-input-placeholder { 
  color: white; 
}

/*Aùn no se ha revisado su utilidad ▼*/

/* para Firefox */

input.colorWhite:-moz-placeholder { 
  color: white; 
}

/* para Internet Explorer */

input.colorWhite:-ms-input-placeholder { 
  color: white; 
}

/*Aùn no se ha revisado su utilidad ▲ */

.btn-Rute {
  margin: 20px 30%;
}

.map {
  display: block;
  box-sizing: border-box;
  padding: 0px 10px 10%;
}

.image-m-map {
  display: block;
  width: 100%;
  height: 100%;
}

.image-d-map {
  display: none;
  width: 100px;
  height: 100px;
}

/*section 5*/
.bg-color-black {
  background-color: #2b2b2b;
  padding: 26px 20px;
}

.white-logo {
  margin-bottom: 25px;
}

.black-content {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 100%;
  padding: 20px 0px;
}

.black-content h4{
  margin-bottom: 10px;
  color: white;
}

.Info{
  padding: 20px 15px;
  width: 40%;
}

.images {
  padding: 20px 15px;
  width: 50%;
}

.icon-group i{
  font-size: 20px;
  margin-left: 10px;
  color: white;
}

.icon-group, .google-play, .app-store {
  margin-bottom: 25px;
}

.bg-color-black h3 {
  margin-top: 25px;
}

/*VERSION DESKTOP*/
@media (min-width: 768px) {


button.btn-margin-left {
  margin-left: 20px;
}


/*section 1*/

.image-taxi {
  background-image: url(../assets/images/taxi.jpg);
  height: 650px;
}

/*Cuadro de Registro Naranja* DESKTOP*/

.register {
  display: none;
}

.register-desktop {
  width: 600px;
  background-color: #ffc107;
  float: right;
  padding: 20px 28px;
  margin-top: 141px;
}

.contenidoDesktop {
  padding-right: 10px;
}

 h1 {
  color: white;
  text-align: left;
  padding: 10px;
  font-size: 29px;
  font-family: 'Raleway', sans-serif;
}

h2 {
  color: white;
  font-size: 15px;
  padding-left: 10px;
  padding-top: 20px;
}

p {
  padding-left: 10px;
  padding: 10px;
  color: black;
}

h3 {
  font-size: 15px;
  padding: 15px;
}

.M-whitelogo {
  margin-left: 8px;
  width: 70px;
  height: 17px;
}


/*section 2*/

.mobile {
  display: none;
}

.desktop{
  display: block;
  width: 100%;
}

.desk-content {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  width: 75%;
  border-left: none;
  padding-right: 70px;
  display: inline-block;
}

.image-phone {
  width: 35%;
  height: 400px;
  padding: 10px;
  display: inline-block;
  margin-left: 15%;
  vertical-align: initial;
  box-sizing: border-box;
}

.about {
  box-sizing: border-box;
  width: 35%;
  text-align: justify;
  display: inline-block;
  margin-left: 10%;
  vertical-align: top;
}

.about h2 {
  color: white;
  margin: 25px 0;
}

.about p {
  color: white;
  font-size: 18px;
}

/*seccion 3*/

.image-conduce {
  background-image: url(../assets/images/conduce.jpg);
  height: 400px;
 }

.info {
  float: right;
  background-color: #00000078;
  margin-top: 0;
  height: 400px;
}

.ContenidoDeskRight {
  margin: 70px;
}

h2 {
  font-size: 23px;
}

.btn-lg {
  margin-top: 20px;
}

/*seccion 4*/

.ContenidoTarifas {
  box-sizing: border-box;
  padding: 50px 50px;
  width: 45%;
  height: auto;
  display: inline-block;
}

.map {
  display: inline-block;
  height: auto;
  padding: 0;
  width: 45%;
}

.image-m-map {
  display: none;
}

.image-d-map {
  display: inline-block;
  width: 100%;
  height: 400px;
  margin-top: 5%;
  margin-left: 10%;
}

/*seccion 5*/
.icon-group {
 width:15%;
 margin-left: 5%; 
}

.icon-group i{
  font-size: 20px;
  margin-left: 5%;
  color: white;
}
.Info{
  padding: 20px 15px;
  margin-left: 5%;
  width: 45%;
}

.images {
  padding: 20px 15px;
  margin-left: 5%;
  width: 18%;
}

.Info div.colum-2{
  margin-left: 30%;
}

}
