
/* Los estilos de tu proyecto */


/*GRID SISTEM*/

/*FIN GRID SISTEM*/


/*VERSION MOBILE*/

button.btn-left{
    float: left;
    margin-left: 20px;
}

a.header-brand-rigth{
    float: right;
    margin-right: 20px;
}

/*VERSION DESKTOP*/
@media (min-width: 768px){

    button.btn-margin-left{
        margin-left: 20px;
    }
}
